html {
  background-color: #A4EDB1; 
}

.quoteBox {
  background-color: #fff;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: .5em;
  color: #A4EDB1;
  margin-top: 3%;
  opacity: 0;
}

h1 {
  border-bottom: solid #A4EDB1 1px;
  margin-right: 20%;
  margin-left: 20%;
  padding-bottom: 3%;
  font-family: Helvetica, sans-serif;
  font-size: 4em;
}

button {
  background-color: #A4EDB1;
  padding: 3% 3% 3% 3%;
  border-radius: .5em;
  color: #fff;
  border: none;
  font-family: Helvetica, sans-serif;
  /*margin-top: 5%;*/
}

#myName {
  color: #fff;
  padding-top: 0%;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  opacity: 0;
}

#randomQuote{
  text-align: center;
  font-size: 3.5em;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  opacity: 0;
}

#extra {
  font-size: 2em;
  padding-top: 2%;
  padding-bottom: 2%;
  line-height: 125%;
}

#facebookShare {
  margin-top: 0%;
  text-align: center;
  font-size: 2em;
}

#twitterShare {
  font-size: 2em;
}

#randomAuthor {
  font-size: 1.5em;
  text-align: right;
  padding-right: 15%;
  font-style: italic;
}

#title {
  opacity: 0;
}

#nextQuote {
  opacity: 0;
  font-size: 2em;
}

/*DESKTOP
-------------------------*/

@media only screen and (min-width: 768px) {

  h1 {
  font-size: 3.5em;
}

.quoteBox {/*
  margin-right: 0px;
  margin-left: 0px;*/
  margin-top: 5em;
}

#randomQuote{
  text-align: center;
  font-size: 2.3em;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 3em; 
}

#myName {
    font-size: 2em;
  }

#randomAuthor {
  font-size: 2em;
}

#extra {
  font-size: 1.5em;
  /*padding-top: 5%;*/
}

button {
  font-size: 1.5em;
}


}